<div class="container column">

<div class="container main-list fcenter">
  <h1>Today's Deals!</h1><br>
</div>
  <div class="container main-list">

    <% deals = Deal.todays_deal %>
      <% deals.each do |deal| %>
        <!-- <a href="/deals/<%= deal.id %>"> -->
        <div class="item">
          <ul>
            <li><%= deal.name %></li>

            <% @burgers.each do |burger| %>
              <% if burger.id == deal.burger_id %>
                Burger:
                <%= burger.name %></li>
            <% end %>
          <% end %>
          <li><%= deal.value %>% off per unit</li>
        </ul>
        <form class="show-deal" action="/deals/<%= deal.id %>" method="get">
          <input type="submit" name="show" value="Show deal!">
        </form>
      </div>
      <!-- </a> -->
    <% end %>
  </div>

</div>
