<form class="container column" action="/deals/<%= @deal.id %>" method="post">
  <label for="name">Name: </label>
  <input type="text" name="name" value="<%= @deal.name %>">

  <label for="days">Day available: </label>
  <input type="text" name="days" value="<%= @deal.days %>">

  <label for="value">Value: </label>
  <input type="text" name="value" value="<%= @deal.value %>">

  <label for="burger">Burger: </label>
  <select class="" name="burger_id" >
    <% @burgers.each do |burger| %>
    <% if burger.id == @deal.burger_id %>
    <option value="<%= burger.id %>" select="selected"><%= burger.name %></option>
    <% else %>
    <option value="<%= burger.id %>"><%= burger.name %></option>
    <% end %>
    <% end %>
  </select>

  <input type="submit" name="submit" value="Submit!">

</form>
