
<% Burger.all.each do |burger| %>
<%= burger.name %><br>
<%= burger.stars %> <br>
<%= burger.price %> <br>
<form class="" action="/burgers/<%= burger.id %>/edit" method="get">
  <input type="submit" name="edit" value="Edit">
</form>
<form class="" action="/burgers/<%= burger.id %>/delete" method="post">
  <input type="submit" name="delete" value="Delete">
</form>
<% end %>
<form class="" action="/burgers/new" method="get">
  <input type="submit" name="new" value="New">
</form>
